<header class="header-6">
    <div class="branding">
      <a href="javascript://" class=" nav-link nav-text" style="font-size: 25px" >myStage</a> 
    </div>
    <div class="header-nav">
        <a routerLink="/"  href="javascript://" class="active nav-link nav-text" >Home</a>
        <a routerLink="/about" href="javascript://" class="nav-link nav-text"  >About</a>
        <a routerLink="/user" href="javascript://" class="nav-link nav-text" >User</a>
        <a routerLink="/product" href="javascript://" class="nav-link nav-text" >Product</a>
        <a routerLink="/categorie" href="javascript://" class="nav-link nav-text" >Category</a>
    </div>
    <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div>
</header>